<header>
    <nav>
        <a href="/">Mytify</a>
        <ul>
            <li>
                <a href ="/artist">all artists</a>
            </li>
            <li>
                <a href ="/artist/new">create artist</a>
            </li>
        </ul>
    </nav>
</header>